{% extends "todo/main.html" %}

{% block content %}
    <div class="row">
        <div class="column left_columns">
            <p><b>TO-DO</b></p>
            {% for task in tasks.0 %}
                <p>
                    <a href="{% url 'taskdetail' task.pk %}">{{ task.title }}</a>
                    <a style="font-size: 8px" href="{% url 'updatestatus' task.pk %}">Move</a>
                    <a style="font-size: 8px" href="{% url 'deletetask' task.pk %}">Delete</a>
                </p>
                <p style="font-size: 8px; padding-left: 200px">{{ task.author }}</p>
            {% endfor %}
            <div class="add_new">
                <br><br><br><a href="{% url 'taskform' "todo"%}">Add new task</a>
            </div>
        </div>
        <div class="column left_columns">
            <p><b>In progress</b></p>
            {% for task in tasks.1 %}
                <p>
                    <a href="{% url 'taskdetail' task.pk %}">{{ task.title }}</a>
                    <a style="font-size: 8px" href="{% url 'updatestatus' task.pk %}">Move</a>
                    <a style="font-size: 8px" href="{% url 'deletetask' task.pk %}">Delete</a>
                </p>
                <p style="font-size: 8px; padding-left: 200px">{{ task.author }}</p>
            {% endfor %}
            <div class="add_new">
                <br><br><br><a href="{% url 'taskform' "in_progress" %}">Add new task</a>
            </div>
        </div>
        <div class="column">
            <p><b>Done</b></p>
            {% for task in tasks.2 %}
                <p>
                    <a href="{% url 'taskdetail' task.pk %}">{{ task.title }}</a>
                    <a style="font-size: 8px" href="{% url 'updatestatus' task.pk %}">Move</a>
                    <a style="font-size: 8px" href="{% url 'deletetask' task.pk %}">Delete</a>
                </p>
                <p style="font-size: 8px; padding-left: 200px">{{ task.author }}</p>
            {% endfor %}
            <div class="add_new">
                <br><br><br><a href="{% url 'taskform' "done" %}">Add new task</a>
            </div>
        </div>
    </div>
{% endblock %}